$primary: #e43c5c;
$body-text: #444444;
$link-hover:  #ea6981;
$body-font: "Open Sans", sans-serif;
$heading-font: "Nunito", sans-serif;
$scrolled-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
$scrolled-logo-colour: #493c3e;
$white: #fff;
$light-grey: #f4f4f8;
